body{
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    height: 82px;
}

.header__container{
    width: 1290px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.header__logo img{
    width: 142px;
    height: 42px;
}

.header__menu{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.navbar ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul{
    display: flex;
}

.navbar--link{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.navbar--link:hover{
    border-bottom: 2px solid #000;
}

/*aqui termina a parte do menu*/

.bannerprincipal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/index20.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.bannerprincipal__title1,
.bannerprincipal__title2,
.bannerprincipal__play{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerprincipal__title1{
    font-size: 28px;
    color: #fff;
}

.bannerprincipal__title2{
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
    color: #fff;
}

.bannerprincipal__play img{
    margin-top: 20px;
    width: 170px;
    height: 100px;
}

/*aqui termina o banner principal*/

.wecreative{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    height: 400px;
}

.wecreative__container{
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.creativecontainer{
    width: 780px;
    font-size: 30px;
    color: #323336;
}

.creativecontainer__title{
    margin-top: -20px;
    padding-left: 15px;
    padding-right: 15px;
}

.creativecontainer__conteudo{
    display: flex;
    flex-wrap: wrap; 
    height: 125px;
}

.creativecontainer__conteudo__box{
    display: flex;
    align-items: center;
    width: 390px;
    height: 62px;
    font-size: 22px;
}

.creativecontainer__conteudo__box img{
    width: 30px;
    height: 30px;
    padding-left: 12px;
}

.creativecontainer__conteudo__box p{
    padding-left: 10px;
}

.firstbanner{
    display: flex;
    justify-content: center;
    width: 390px;
    height: 405px;
    margin-top: 20px;
}

/*aqui termina o primeiro conteudo*/


.titleworks{
    background-color: #eee;
    margin-top: 24px;
}

.titleworks__display{
    display: flex;
    justify-content: center;
}

.titleworks__title{
    width: 1200px;
    display: flex;
    justify-content: center;
    color: #323336;
    margin-top: 70px;
    margin-bottom: 35px;
}

/*aqui termina o segundo conteudo*/

.conteudoworks{
    display: flex;
    justify-content: center;
    height: 760px;
}

.conteudoworks__container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoworks__container--box1,
.conteudoworks__container--box2{
    width: 392px;
    height: 340px;
}

.conteudoworks__container--box3{
    width: 392px;
    height: 694px;
}

.conteudoworks__container--box4{
    width: 796px;
    height: 340px;
    position: absolute;
    margin-top: 352px;
}

/*aqui termina o terceiro conteudo*/


.services{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.services__container{
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.services__conteudo{
    display: flex;
    flex-wrap: wrap;
}

.services__conteudo--box{
    height: 242px;
    width: 388px;
    text-align: center;
    margin: auto;
}

.services__conteudo--box img{
    height: 47px;
}

.services__conteudo--box h1{
    font-size: 20px;
    color: #323336;
}

.services__conteudo--box p{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    color: #323336;
}

/*aqui termina o quarto conteudo*/

.modules{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    background-image: url(../images/intro2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.modules__title1{

}

.modules__title2{
    
}

.modules--button{
    
}


